# build output
dist
!.github/actions/*/dist
packages/**/*.tgz
.errors/

# dependencies
node_modules
package-lock.json
!/package-lock.json
yarn.lock
!/yarn.lock
.pnpm-store/
.github/**/node_modules

# logs & pids
*.log
pids
*.cpuprofile
*.heapsnapshot

# coverage
.nyc_output
coverage

# test output
test/**/out/*
.DS_Store
/e2e-tests
test/tmp/**
test/.trace
test/traces
.tmp-*

# Editors
**/.idea
**/.#*
.nvmrc
.vscode/

# examples
examples/**/out/*

# env
.env*.local

# Cache
*.tsbuildinfo

# Rust / NAPI
packages/rs/target/
packages/rs/*.node
packages/rs/test.js
packages/rs/test2.js
